.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare';
}

.black-nav {
  width: 100%;
  display: flex;
  background: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

.title {
  padding-left: 50px;
}

.profile {
 padding-right: 70px;
 position: absolute;
 right: 0;
}

.btnDiv {
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 30px;
}

.sortBtn {
  border: 1px solid rgba(55, 53, 47, 0.16);
  border-radius: 15px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(55, 53, 47, 0.65);
  padding: 5px 8px 5px 8px;
}

.sortBtn:hover {
  background: #eee;
}

.list {
  text-align: left;
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.heart {
  font-size: 15px;
  cursor: pointer;
  padding-left: 10px;
  color: rgba(55, 53, 47, 0.65);
}

.heart:hover {
  color: palevioletred;
}

.heartCount {
  font-size: 15px;
  padding-left: 10px;
  color: rgba(55, 53, 47, 0.65);
}

.modal {
  padding: 20px;
  background: #eee;
  margin-top: 20px;
}